.body{
    background-color: $bg-fondo;
    display: grid;
	grid-template-columns:repeat(3, 1fr);
	grid-template-rows: auto auto auto;
	grid-template-areas: "header header header" "main main main" "footer footer footer";
    font-family: $fontMain;
    &__header{
        grid-area: header;
    }
    &__main{
        grid-area: main;
        padding-left: 3%;
        padding-right: 3%;
        margin: 2%;
    }
    &__footer{
        grid-area: footer;
    }
    &__h1{
        color: $fonts;
        text-align: center;
    }
}
$fonts: (
    small: 15px,
    medium: 18px,
    large: 19px,
    big: 22px,
);

@each $size, $value in $fonts {
    .font--#{$size} {
        font-size: $value;
    }
 }
 
.novProm{
    grid-area: novProm;
    color: $bg-info;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    .novProm-header{
        text-align: center;
    }
    .blockquote-footer{
        text-align: center;
    }    
}
/*hoja de catering*/   
    .gridCatering{
        grid-template-areas: "catering" "catering" "catering" "catering" "catering" "catering";
    }
    .catering{
        background-color: $bg-card;
        text-align: center;
        border: solid;
        border-radius: 10px;
        border-color: #6b6856;
        .div--h2{
            color:$bg-info;
            font-size: auto;
        }
        .div--h3,p{
            font-size: 21px;
            color:$bg-info;
            margin: 5px;
        }
    }
    .rowList{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas:"col col col" "col col col";
    }
    .card{
        margin: 2vh;
        border-radius: 5%;
        .cantidad{
            padding: 5px;
            background-color: $bg-card;
        }
        .card-title{
            text-align: center;
        }
        .card-body{
            background-color: $bg-card;
        }
        .card-link{
            font-size: 15px;
            color:$bg-info;
            padding: 5px 10px;
            cursor: pointer;
        }
        .list-group-item{
            text-align: center;
            background-color: $bg-hf;
        }
    }
    .precio{
        text-align: center;
        background-color:$bg-hf;
    }
/*hoja de carrito de compras*/
    .gridCarro{
        grid-template-areas: "carro" "carro" "carro" "carro" "carro" "carro"; 
    }
    .carro{
        background-color:rgb(184, 209, 127);
        text-align: center;
        border: solid;
        border-radius: 10px;
        border-color: $bg-hf;
        .div h2{
            color: $bg-info;
            font-size: auto;
        }
        .div h3,p{
            font-size: 21px;
            color: $bg-info;
            margin: 5px;
        }
    }
/*hoja de inicio*/
    .gridContainer{
        display: grid;
        grid-template-columns:repeat(4, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-template-areas:"img1 img2x2 img2x2 nota1"
                            "img2 img2x2 img2x2 nota2"
                            "img3 novProm novProm nota3";
        grid-gap: 10px;
        padding: 5px;

        &__protocol{
            grid-area: nota1;
            background-color: $bg-hf;
            border-radius: 20px;
            padding: 5px 10px 5px 10px;
            text-align: left;
            justify-content: center;
            h2{
                text-align: center;
                color: $bg-info;
            }
        }
        &__pagaCon{
            grid-area: nota2;
            h2{
                text-align: center;
                color: $bg-info;
            }
        }
        &__nota{
            grid-area: nota3;
            background-color:$bg-hf;
            list-style: none;
            text-align: start;
            border-radius: 10%;
            color:$bg-info;
            padding:60px 5px 40px 10px;
            &:hover{
                transform: rotatey(-360deg);
                transition: transform 2s;
            }
        }
    }
    .muffin{
        list-style: square inside url(../imagenes/muffin.svg);
    }
    .img{
        width: 100%;
        border-radius: 20px;
        display: block;
        height: auto;
    }
    .indexBacking{
        grid-area: img1;
    }
    .indexCakes{
        grid-area: img2;
    }
    .indexCatering{
        grid-area: img3;
    }
    .slider{
        grid-area: img2x2;
        .img{
            width: 100%;
        }
        .h2{
            display: block;
        }
    }
    .img-overlay{
        position: relative;
        max-width: 300px;
    }
    .overlay {
        position: absolute;
        bottom: 0;
        background: $overlay;
        width: 100%;
        transition: .5s ease;
        opacity:0;
        color: $bg-info;
        font-size: $textMedium;
        padding: 30px;
        text-align: center;
    }
    .img-overlay:hover .overlay {
        opacity: 1;
    }
        
/*hoja ubicacion*/
    .ubicacion{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(1, auto);
        grid-template-areas: "h1 iframe iframe iframe nota";
        margin: 2%;
        h1{
            flex-grow: 1;
            grid-area: h1;
        }
        iframe{
            flex-grow: 3;
            grid-area: iframe;
        }
        .notaUbicacion{
            flex-grow: 1;
            grid-area:nota;
            background-color:$bg-hf;
            text-align: start;
            border-radius: 10%;
            color:$bg-info;
            padding:60px 5px 40px 5px;
            .nota:hover{
                transform: rotatey(-360deg);
                transition: transform 2s;
            }
        }
    }
.videoDad{
    text-align: center;
    height: 50vh;
}
.video{
    width: 40%;
    height: 100%;
}
.name{
    font-size: big;
    font-weight: bold;
}
