.body-error{
    background-color:$bg-fondo;
}
.error{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:"container container content";
    .container{
        grid-area: container;
        .font-error{
            font-size: 80px;
            color: darkred;
        }
        .img-fluid{ 
            width: 100%;
            align-content: center;
            border-radius: 5%;
        }
    }
    .content{
        grid-area: content;
        text-align: center;
        padding: 100px 10px;
        .content-error{
            font-size: 30px;
            color: darkblue;
        }
        .img-logo{
            width: 30vh;
        }
    }
}
