@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap');
$fontMain: 'Josefin Sans', sans-serif;
$fontLight: 300;
$fontRegular: 400;
$fontBold: 700;
$textBig: 3rem;
$textSmall: 1rem;
$textMedium: 2rem;
$fontRegular: 2rem;