.footer{
    background-color: $bg-hf;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr auto;
    grid-template-areas: "contacto info1 iconos" "copyright copyright copyright" ;
    &__contacto{
        padding: 10px;
        font-size: 50px;
        grid-area: contacto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color:$bg-info
    }
    &__datos{
        grid-area: info1;
        text-align: left;
    }
    &__social{
        display: flex;
        justify-content: space-around;
        align-items: center;
        a{
            img {
                width: 40px;
                height: 40px;
            }
        }
        @each $social in whatsapp, instagram, gmail, twitter, facebook{
            .#{$social}-icon{
                background-image:url(../img/#{$social}.png);
                margin: 5px;
                grid-area: iconos; 
            }
        }
    }
    &__copyright{
        text-align: center;
        grid-area: copyright;
        background-color:$bg-fondo; 
    }
    .name{
        font-size: big;
        font-weight: bold;
    }
}